$white: #ffffff;
$gray: #adadad;
$black: #090B04;

$primary-color: #C6424B;
$secondary-color: #4cbd9b;
$tertiary-color: #9ebdb7;
$background-color: #f0f0f0;

$shadow-color: #474747;
$content-color: #4d4d4d;

$danger-background-color: #f2dede;
$danger-color: #a94442;

